@import 'app/styles/constants';

.concordance-result-options-filter{
    .tabContent{
        padding: 20px;
    }
    .queryWrapper{
        max-width: 1000px;
    }
    .filterRange{
        > span {
            vertical-align: top;
        }
        .ui-radio{
            margin-right: 40px;
        }
        .ranges{
            margin-top: 15px;
        }
    }
    .excludeKwic{
        .filterRangeToken .rangeWrapper span:nth-child(6),
        .filterRangeSentence .rangeWrapper span:nth-child(4){
            color: $blue-800;
            background-color: $blue-200;
        }
    }

    .filterRange{
        .ui-radio{
            > div  {
                & > *{
                    &:nth-child(2){
                        display: block;
                        margin-left: 40px;
                    }
                }
            }
        }
    }
}
