.corpus-history{
    .content{
        max-height: 100%;
        overflow: auto;
    }
    table{
        td{
            cursor: pointer;
            &.size{
                text-align: right;
                font-size: 12px;
                opacity: 0.6;
            }
            &:last-child{
                width: 1px;
            }
            &:first-child{
                word-break: break-word;
            }
        }
    }
}

.density-low{
    .corpus-history{
        td{
            padding: 5px 10px;
            &:not(:first-child){
                padding-left: 5px
            }
            &:not(:last-child){
                padding-right: 5px
            }
        }
    }
}
