@import 'app/styles/constants';

.result-list {
    display: block;
    .clear {
        font-size: 14px;
        opacity: 0.7;
        position: relative;
        top: -12px;
        &:hover {
            opacity: 1;
        }
    }
    .ui-filtering-list {
        .ui-input {
            max-width: 200px;
        }
    }
    .result-row {
      display: flex;
      align-items: start;
      .btn {
          min-width: 30px;
          width: 30px;
          height: 30px;
          i {
              width: 30px;
              line-height: 30px;
          }
      }
    }
    .result-data {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-shrink: 2;
    }
    .ui-list-list{
        max-height: 430px !important;
        li{
            padding-left: 5px !important;
            padding-right: 5px !important;
            position: relative;
            cursor: auto;
            &:not(:first-child):not(.serviceNode){
                border-top: 1px solid $blue-200;
            }
            .raw-html {
                white-space: normal;
                .featureIco{
                  margin-right: 8px;
                  i {
                      font-size: 1.5rem;
                      vertical-align: text-bottom;
                  }
                }
                .line{
                    width: 100%;
                    .chip{
                        font-size: 11px;
                        line-height: 24px;
                        height: 24px;
                        overflow: hidden;
                        vertical-align: middle;
                        i {
                            vertical-align: middle;
                        }
                    }
                }
              .corpus {
                  max-width: 40%;
                  overflow: hidden;
              }
              .date{
                  text-align: right;
                  font-size: 12px;
                  opacity: 0.6;
                  white-space: nowrap;
                  margin-right: 8px;
                  margin-top: 4px;
              }
              .feature {
                  font-size: 13px;
                  min-width: 135px;
                  display: inline-block;
              }
              .opts {
                  font-size: 13px;
                  span:not(:first-child):before{
                      content: " ● "
                  }
                  b{
                      word-break: break-all;
                  }
              }
              .favourite {
                margin-right: 8px;
              }
              i.favourited {
                color:$yellow!important;
              }
            }
            &.selected {
              font-weight: normal;
              background-color: initial;
            }
        }
    }

    .switch {
      margin-bottom: 0px;
      .switch-label{
        font-size: .8rem;
      }
    }
    .switch + .switch {
      margin-right: 16px;
    }

    .dropdown-content {
        li {
            padding: 0 !important;
            a i {
              margin-right: 0.5rem;
              vertical-align: top;
            }
        }
    }
}
