@import 'app/styles/constants';

.concordance-jump-to{
    display: inline-block;
    a{
        cursor: pointer;
    }
}

.concordance-jump-to-dialog{
    span{
        display: inline-block;
        height: 40px;
        padding: 0 20px;
        line-height: 40px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        color: $persianGreen;
        &:hover{
            background-color: $gray-100;
        }
    }
}
