@import 'app/styles/constants';

.concordance-result{
    display: block;
    padding: 0 4px;
    &.hasAttributes .kwicWrapper,
    &.hasContextAttributes{
        .itm{
            display: inline-flex;
            flex-direction: column;
            &::after{
                content: attr(attr);
                font-weight: normal;
                font-size: 12px;
                color: #afafaf;
                display: block;
                margin-top: -5px;
                text-align: center;
                padding: 0 2px;
                top: 20px;
            }
        }
    }
    &.hasAttributes{
        .tr:hover{
            .itm::after{
                color: grey;
            }
            /* hack to show kwic underline on hover but not on kwic attribute. Style "text-decoration"
            is applied on pseudo elements ::after,::before, unless they are positioned absolute*/
            .kwicWrapper .itm{
                &::after{
                    /* to make span.itm wider, if needed (if attributes are wider than kwic) */
                    visibility: hidden;
                }
                &::before{
                    content: attr(attr);
                    font-weight: normal;
                    font-size: 12px;
                    color: #afafaf;
                    display: block;
                    text-align: center;
                    padding: 0 2px;
                    top: 19px;
                    left: 0;
                    right: 0;
                    position: absolute;
                }
            }
        }
    }
    &.viewKwic{
        concordance-result-items{
            position: absolute;
            white-space: nowrap;
        }
    }
    &.fullContext.viewKwic concordance-result-items{
        position: relative;
    }
    concordance-result-items{
        display: inline;
    }
    .table.result-table{
        margin-bottom: 15px;
        .selected {
            background-color: #e5ffe5;
        }
        .th,
        .td{
            padding: 5px 10px;
            vertical-align: top;
            overflow: hidden;
            position: relative;
            &.annotconc {
                overflow: inherit;
                text-align: left;
            }
            &.td_chb{
                span{
                    height: 20px;
                    padding-left: 18px;
                }
            }
        }
        .tr{
            &.refsUpRow{
                .td{
                    position: relative;
                    border-bottom: 0!important;
                    padding: 0px 10px;
                    height: 22px;
                    &.td_refs{
                        overflow: visible;
                    }
                }
            }
            &.selected_annot{
                background-color: #fdffe5;
            }
            &.selected{
                background-color: #ddf0f7;
                .copyCell i{
                    color: $red-400;
                    opacity: 0.8;
                }
            }
            &.kwicDetailDisplayed{
                outline: 2px solid $gray-500;
                background-color: $gray-100;
            }
            &:hover{
                .kwicWrapper .itm{
                    text-decoration: underline;
                }
                .copyCell i{
                    opacity: 0.5;
                }
            }
        }
        .refTh{
            overflow: visible;
            .table-label{
                position: absolute;
            }
        }
        .checkboxTh {
            .ui-checkbox{
                margin: 0;
                span{
                    padding-left: 20px;
                }
                sup{
                    display: none;
                }
            }
        }
        .gdexTh{
            white-space: nowrap;
        }

        .leftpad {
            padding-left: 1em;
        }
        .num{
            font-size: 12px;
            line-height: 26px;
            padding-right: 0;
            color: #898989;
        }
        .ref{
            position: relative;
            cursor: pointer;
            &:not(.hasRef){
                padding-right: 0;
                span i {
                    padding-right: 0;
                }
            }
            span{
                display: flex;
                overflow: hidden;
                color: $gray-600;
                i{
                    display: inline-block;
                    font-size: 21px;
                    vertical-align: middle;
                }
            }
            .ref-label{
                display: inline-block;
                white-space: nowrap;
                &:hover{
                  text-decoration: underline;
                }
            }
        }
        .mediaCell i{
            color: $red-200;
            cursor: pointer;
        }
        .copyCell{
            i{
                opacity: 0.2;
                cursor: pointer;
                vertical-align: middle;
                &:hover{
                    opacity: 1!important;
                }
            }
            @media only screen and (max-width: 650px){
                padding: 0;
                i{
                    display: none
                }
            }
        }
    }
    .itm{
        padding: 0 2px;
        text-align: center;
        position: relative;
        &.coll,
        &.kwic{
            color: $red-200;
            font-weight: bold;
        }
    }
    .strc{
        color: blue;
    }
    .middle{
        white-space: nowrap;
    }
    .kwicWrapper{
        cursor: pointer;
        position: relative!important;
        .itm{
            color: $red-200;
            font-weight: bold;
        }
    }

    .leftCol,
    .rightCol{
        position: relative;
        width: 50%;
    }
    a.lineDetail{
        opacity: 0.5;
        height: 21px;
        width: 21px;
        line-height: 21px;
        margin-right: 10px;
        &:hover{
            opacity: 1
        }
        i{
            height: 21px;
            width: 21px;
            line-height: 21px;
            font-size: 21px;
        }
    }
    .gdex{
        .badge{
            margin-left: 0px;
            background-color: $gray-500;
        }
    }


    @media only screen and (max-width: 700px){
        padding-right: 2px;
        .table.result-table{
            .th,
            .td{
                padding: 4px 2px;
            }
        }
    }
    .refsUp{
        position: absolute;
        top: 0;
        white-space: nowrap;
        max-width: calc(100vw - 170px);
        min-width: calc(100vw - 170px);
        overflow: hidden;
        text-overflow: ellipsis;
        .refsUpValues{
            color: #898989;
            font-size: 0.8em;
        }
    }
    .leftCol{
        concordance-result-items{
            right: 0;
        }
    }
    .rightCol{
        concordance-result-items{
            left: 0;
        }
    }

    .concordance-jump-to{
        float: left;
        margin-top: -6px;
        @media (max-width: 1150px){
            float: none;
        }
    }

    &.directionRTL{
        .rtlNode{
            direction: rtl;
        }
    }

    &.directionLTR{
        direction: ltr;
        .table.result-table .num{
            padding-left: 10px;
            padding-right: initial;
        }
        input[type="checkbox"] + span{
            padding-right: 0;
        }
        .left-align{
            text-align: left;
        }
        .right-align{
            text-align: right;
        }
        .leftCol concordance-result-items{
            left: initial;
            right: 0
        }
        .rightCol concordance-result-items{
            left: 0;
            right: initial;
        }
        .rtlNode{
            direction: ltr;
        }
    }
}
