@import 'app/styles/constants';

.concordance-selected-lines-box{
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 495;
    display: none;
    > div{
        pointer-events: initial;
        background-color: $blue-100;
        padding: 10px 20px;
        display: inline-block;
        position: relative;
        .columnsWrapper {
            display: flex;
            text-align: left;
            > div:not(:first-child) {
                border-left: 1px solid lightgrey;
                padding-left: 10px;
                margin-left: 10px;
                label{
                    display: inline-block;
                    text-transform: lowercase;
                    white-space: nowrap;
                }
            }
        }
    }
    .closeBtnWrapper{
        position: absolute;
        right: 0px;
        top: 0px;
    }
}
