@import 'app/styles/constants';

.concordance-tab-advanced{
    margin: auto;
    position: relative;

    subcorpus-select{
        display: inline-block;
        max-width: 636px;
        margin-right: 40px;
    }
}
