@import 'app/styles/constants';

.page-concordance {
    .form {
        transition: all 0.5s ease;
        max-width: 100%;
    }
    .narrowForm {
        @include maxWidthSmall;
    }
    .mediumForm{
        max-width: 1250px;
    }
    .wideForm{
        max-width: 100%;
    }
    .warningBtn{
        margin-right: 5px;
        i{
            font-size: 25px;
            color: #fff!important;
        }
    }
    & > .content > .manage-macros-icon{
        margin-left: 10px;
        vertical-align: top;
    }
}
