.page-unauthorized{
    .backgroundOverlay{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1000;
    }
    .contentWrapper{
        max-width: 500px;
        margin: auto;
        z-index: 1001;
        position: relative;
        & > div{
            justify-content: space-between;
            align-items: baseline;
        }
        .logo{
            max-width: 150px;
            margin-bottom: 10px;
        }
        .btnLogIn{
            font-size: 18px;
            padding: 10px 30px;
            line-height: 18px;
            height: 36px;
        }
    }
}
