@import 'app/styles/constants';

alt-lposlist {
    display: inline-block;
    vertical-align: middle;
    .chip{
        display: inline-flex;
        vertical-align: middle;
        align-items: center;
        margin-bottom: 0px;
        color: $blue-800;
        box-sizing: content-box;
        &:focus {
            background-color: $blue-200;
        }
    }

    a.al-dropdown {
        font-size: 16px;
        i {
            width: 18px;
        }
    }
    .dropdown-content {
        li {
            a {
                white-space: nowrap;
            }
            &.disabled{
                background-color: $gray-100!important;
                a{
                    color: $gray-400;
                    cursor: help
                }
            }
        }
    }
}
