@import 'app/styles/constants.scss';

.vis-icon:not(.download) {
    .pointer    { cursor: pointer }
    svg circle    { fill: $blue-800; }
    svg.active .c0, svg:hover .c0 { fill: $black }
    svg.active .c1, svg:hover .c1 { fill: #E4AC24 }
    svg.active .c2, svg:hover .c2 { fill: #554A9E }
    svg.active .c3, svg:hover .c3 { fill: #D71C56 }
    svg.active .c4, svg:hover .c4 { fill: #52BE97 }
    svg.active .c5, svg:hover .c5 { fill: #B9D532 }
    svg.active .c6, svg:hover .c6 { fill: #63C9D5 }
    svg.active .c7, svg:hover .c7 { fill: #A3227F }
    svg.active .c8, svg:hover .c8 { fill: #B33426 }
}
.disabled .vis-icon svg circle{
    fill: $gray-400;
}

.vis-icon.download {
    vertical-align: middle;
    vertical-align: -moz-middle-with-baseline;
    margin-left: -5px;
    svg {
        height: 30px;
        circle { fill: $white; }
    }
}
