$new_skeBlue: #279FD2;
$new_lightBlue: #CFECF4;
$new_mediumBlue: #A3CCDD;
$new_darkBlue: #004B69;
$new_darkBlue_hover: #006992;
$new_darkBlue_disabled: rgba(0,75,105,0.38);
$textOnDark: white;
$hoverWhite: lightgrey;
$new_contrastColor: #C52031;
$new_contrastColorLight: #dc2339;
