@import 'constants.scss';
@import 'slider.scss';
@import '~input-range-scss';
@import '~intro.js/introjs.css';
@import 'introjs-ske';
@import 'utility.scss';

html{
    min-height: 100%;
    min-width: 100%;
    position: relative;
    font-family: "Roboto", sans-serif!important;
    text-decoration-skip-ink: none;
}

body{
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    font-size: 16px;
    margin: 0;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

i{
    user-select: none;
}

thead{
    border-bottom: 1px solid $blue-100;
}

a{
    &.disabled,
    &[disabled]{
        cursor: default;
        pointer-events: none;
        color: $gray-250 !important;
        i {
            color: $gray-250 !important;
        }
    }
}

details > summary {
    cursor: pointer;
    outline: none;
}

table.highlight>tbody>tr{
    border-top-color: $blue-100;
    &:hover {
        background-color: $blue-100;
    }
}

.material-table{
    >thead{
        >tr{
            >th{
                border-bottom: none;
                padding: 12px 24px;
                color: rgba(0,0,0,0.54);
                &.num{
                    text-align: right;
                }
            }
        }
    }
    >tbody{
        border: 1px solid $blue-100;
        background-color: #f7f7f7;
        >tr{
            &:not(:last-child) td {
                border-bottom: 1px solid $blue-100;
            }
            >td{
                color: rgba(0,0,0,0.87);
                border-top: none;
                vertical-align: middle;
                padding: 12px 20px;
                &.num{
                    text-align: right;
                }
            }
        }
    }
}

.tab-content .input-field {
    margin-right: 2em;
}
.tab-content .chip, .result-info .chip, .wordlist-criteria .chip {
    background-color: $blue-200;
    color: $blue-800;
    box-sizing: content-box;
}

.toolbar{
    display: inline-block;
    float: right;
    >.ui-radio, >ul{
        display: inline-block;
        vertical-align: top;
    }
    >.ui-radio{
        margin-right: 20px;
    }
    >ul{
        margin: 0;
    }
    li{
        a[disabled]{
            background-color: rgba(255, 255, 255, 0)!important;
            i{
                opacity: 0.3;
            }
        }
        display: inline-block;
        i{
            color: $gray-600;
        }
        .active{
            background-color: #2196F3;
            i{
                color: $white;
            }
        }
    }
    >ui-select{
        margin-top: -6px;
        .select-dropdown{
            margin-bottom: 0;
        }
    }
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
input.valid:not([type]),
input.valid:not([type]):focus,
input[type=text].valid:not(.browser-default),
input[type=text].valid:not(.browser-default):focus,
input[type=password].valid:not(.browser-default),
input[type=password].valid:not(.browser-default):focus,
input[type=email].valid:not(.browser-default),
input[type=email].valid:not(.browser-default):focus,
input[type=url].valid:not(.browser-default),
input[type=url].valid:not(.browser-default):focus,
input[type=time].valid:not(.browser-default),
input[type=time].valid:not(.browser-default):focus,
input[type=date].valid:not(.browser-default),
input[type=date].valid:not(.browser-default):focus,
input[type=datetime].valid:not(.browser-default),
input[type=datetime].valid:not(.browser-default):focus,
input[type=datetime-local].valid:not(.browser-default),
input[type=datetime-local].valid:not(.browser-default):focus,
input[type=tel].valid:not(.browser-default),
input[type=tel].valid:not(.browser-default):focus,
input[type=number].valid:not(.browser-default),
input[type=number].valid:not(.browser-default):focus,
input[type=search].valid:not(.browser-default),
input[type=search].valid:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid $blue-800;
    box-shadow: 0 1px 0 0 $blue-800;
}

#activeOptionsWrapper{
    margin-top: 15px;
}
.activeOptions{
    margin-bottom: 20px;
    background-color: $blue-100;
    .optsHeader{
        font-size: 1.6rem;
        margin-bottom:  0.9rem;
        border-bottom: 1px solid #cecece;
        padding-bottom: 10px;
        vertical-align: middle;
        i{
            font-size: 2rem;
            color: $gray-600;
        }
    }
}
.bar i, .optsHeader i {
    &.material-icons, &.ske-icons {
        color: $blue-800;
    }
}
.optsContent .ui-tabs > div > ul.tabs {
    background-color: initial;
}

.material-clickable{
    opacity: 0.5;
    transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}

.leftPad {
    margin-left: 5vw;
}

.fixed-action-btn {
    right: 5vw;
    bottom: 5vh;
}

.link{
    cursor: pointer;
    &[disabled]{
        cursor: default;
        color: $gray-600;
    }
}
button.link{
    padding: initial;
    border: initial;
    background-color: initial;
}

.error{
    color: $red-200;
}

.hint{
    color: #555;
    font-size: 12px;
}

.shadowOverlay{
    position: relative;
    box-shadow: 0 0px 9999px 9999px rgba(0, 0, 0, 0.5);
    z-index: 900!important
}

.overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 400;
}

h4.ro-title {
    color: $blue-800;
}
h5 {
    text-transform: uppercase;
    color: $blue-800;
}
.toggleExpand a {
    color: $blue-800;
}

.input-label{
    color: $gray-600;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 1rem 0 20px 0;
    padding: 0;
    @media only screen and (max-width: 600px){
        margin-bottom: -15px;
    }
}

.ro-title {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
}
.ro-chips {
    font-size: 0.8em;
    color: $gray-600;
    div.chip{
        background-color: $gray-100;
    }
}
.ro-option:not(:first-child)::before {
    content: " ● ";
}
.ro-value {
    font-weight: bold;
}
.SkE {
    .noBorder{
        border: 0!important;
    }
}

.dotsAnimation{
    display: inline-block;
    width: 15px;
    line-height: 1em;
    text-align: left;
    span{
        display: inline-block;
        overflow: hidden;
        animation: dotsLoadingFrames linear 0.8s;
        animation-iteration-count: infinite;
        -webkit-animation: dotsLoadingFrames linear 0.8s;
        -webkit-animation-iteration-count: infinite;
    }
}

@keyframes dotsLoadingFrames{
    0% {
        max-width: 0;
    }
    50% {
        max-width: 20px;
    }
    100% {
        max-width: 0px;
    }
}

.help{
    color: $gray-500;
    cursor: help;
}

.small-help{
    height: 25px;
    line-height: 25px;
    font-size: 1.2rem;
    position: relative;
}

.centerSpinner{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
}

.bigInput{
    font-size: 24px;
    border-bottom-width: 2px;
}


.headerSelect{
    margin-right: 20px;
    padding-right: 35px;
    .select-wrapper {
        .caret{
            right: -30px;
        }
        input.select-dropdown{
            font-size: 23px;
            padding-right: 25px;
            min-width: calc(100% + 35px);
            padding-bottom: 5px;
        }
    }
}

.titleWithButton{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .title {
        word-break: break-all;
        margin-right: 15px;
    }
    .btn{
        white-space: nowrap;
    }
}

.emptyResult{
    color: $blue-800;
}

.inlineIcon{
    font-size: 1.2em;
    vertical-align: middle;
}

.primaryButtons{
    text-align: center;
}

tbody{
    .reldocf,
    .rel_docf1,
    .rel_docf2,
    .addPercSuffix{
        &:after{
            content: '%';
            font-size: 0.7em;
            color: $gray-500;
            position: relative;
            left: -2px;
        }
    }
}

.resultsWithRefCorpname{
    &.column-table.hasRefValues{
        th{
            &[colspan="2"]{
                text-align: center;
                border-left: 1px solid $blue-200;
                border-right: 1px solid $blue-200;
            }
            &.frq1,
            &.rfrq1,
            &.relfreq1,
            &.rel_frq1,
            &.docf1,
            &.rel_docf1,
            &.aldf1,
            &.arf1,
            &.star1{
                border-left: 1px solid $blue-200;

            }
            &.frq2,
            &.rfrq2,
            &.relfreq2,
            &.rel_frq2,
            &.docf2,
            &.rel_docf2,
            &.aldf2,
            &.arf2,
            &.star2{
                border-right: 1px solid $blue-200;
            }
        }
    }
}

.youtubePlaceholder{
    display: inline-block;
    img{
        object-fit: cover;
        float:none;
        max-width: 100%;
        max-height: 100%;
    }
}

.visPreloader{
    min-height: calc(100vh - 130px);
}


////////// IS THIS NEEDED? ////////////
input[type="checkbox"]+label:before, input[type="checkbox"]:not(.filled-in)+label:after{
    background-color: white;
    //border: 2px solid $blue-800;
}

input[type="checkbox"]:checked+label:before{
    background-color: initial;
}

input[type="checkbox"]:not(.switch-input):checked+label:before{
    border: none;
    border-right: 2px solid $blue-800;
    border-bottom: 2px solid $blue-800;
}
//////////////////////////////////////
input[type="checkbox"]:not(.switch-input)+span:before {
    border: 2px solid $blue-800;
}

input[type="checkbox"]:not(.switch-input):checked+span:before, li.checkbox.selected:before{
    border: 2px solid transparent;
    border-right: 2px solid $blue-800;
    border-bottom: 2px solid $blue-800;
}

input[type="checkbox"]:not(.switch-input):checked:disabled+span{
    color: $gray-500;
}

input[type="checkbox"]:not(.switch-input):checked:disabled+span:before{
    border-right: 2px solid rgba(0,0,0,0.42);
    border-bottom: 2px solid rgba(0,0,0,0.42);
}

textarea.materialize-textarea{
    min-height: 3em;
    &::placeholder {
        color: $blue-200;
    }
}
input[type="radio"]:not(:checked)+span:before,
input[type="radio"]:not(:checked)+span:after{
    border: 2px solid $blue-800;
}
input[type="radio"]:checked+span:after,
input[type="radio"].with-gap:checked+span:after{
    background-color: $blue-800;
    border: 2px solid $blue-800;
}
.input-field > label, label.control-label, label {
    color: $blue-800;
}

/* material design tweaks */

.row{
    margin-bottom: 0;
}

.columnForm{
    .row{
        & > label,
        & > .fieldCell{
            margin: 1rem 0;
        }
        &>label{
            text-align: right;
            line-height: 1rem;
            &::first-letter{
                text-transform: capitalize;
            }
            &.withHelp{
                .help{
                    font-size: 18px;
                    vertical-align: top;
                }
            }
        }
        .input-field {
            margin-top: 0;
            input{
                line-height: 3rem;
            }
        }
        .ui-radio{
            margin-top: 0.8rem;
        }
        .ui-checkbox{
            margin-top: 0.7rem;
        }

        @media only screen and (max-width: 600px){
            & > label,
            & > .fieldCell{
                margin-top: 0;
            }
            &>label{
                text-align: left;
            }
        }
    }
}


.doubleLinks{
    position: relative;
    .currentTabLink{
        display: block;
        position: relative;
        padding-left: 16px;
        margin-right: 50px;
    }
    .newTabLink{
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0.5;
        &:hover{
            opacity: 1;
        }
        i{
            font-size: 22px;
            margin-right: 0;
        }
    }
}

.youtubeVideoContainer{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.gramrel{
    margin: 0 8px 15px 8px;
}

.sortable-ghost{
    outline: 3px dashed #ddd;
    background-color: whitesmoke;
    visibility: visible !important;
    > *{
        visibility: hidden;
    }
}

.tabFormResetBtn{
    position: absolute;
    right: 0px;
    top: 0px;
}

.underlineLinks{
    a {
        text-decoration: underline;
    }
}

#tab-about{
    padding: 24px;
    .collapsible{
        background-color: $gray-100;
    }
    img{
        border: 1px solid #bebebe;
        height: auto;
        object-fit: contain;
        max-width: 100%;
    }
}

.list{
    margin-left: 1em;
    li{
        list-style: disc;
    }
}

.emptyContent{
    background-color: $gray-100;
    opacity: 0.6;
    text-align: center;
    padding: 50px;
    color: grey;
    .title{
        opacity: 0.8;
        font-size: 2.3em;
    }
    i{
        font-size: 3em;
    }
}

.narrowCol{
    width: 1px;
}

.resetOptions{
    position: absolute;
    right: 0;
    top: 0;
}

.noteBar{
    padding: 10px;
    clear: both;
}


/* materializecss design tweaks */
.SkE{
    .material-tooltip{
        z-index: 10100; //above dropdown-content
        text-align: left;
        word-break: break-word;
        > div{
            max-width: 500px;
            display: inline-block;
        }
        &.htmlTooltip{
            line-height: 1.3em;
            a{
                color: #82daff;
                text-decoration: underline;
            }
            &.tooltipLoading{
                min-width: 200px;
                min-height: 50px;
            }
            .tooltip-content{
                overflow-y: auto;
                *:first-child,
                *:last-child{
                    margin: 0;
                }
            }
            hr{
                border-style: solid;
                border-top: 0;
            }
        }
    }


    tr{
        border-bottom: none;
    }

    label{
        font-size: 1rem;
    }

    .input-field{
        margin-bottom: 0;
        label,
        &>label:not(.label-icon).active{ // stronger rule
            -webkit-transform: translateY(-14px) scale(1);
            transform: translateY(-14px) scale(1);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
        }
    }

    .inline-text{
        line-height: 5rem;
    }

    .select-wrapper{
        .caret{
            z-index: 1;
            pointer-events: none; //let event propagate to parent
        }
        + label {
            top: 0;
        }
    }

    .text-primary{
        color: $gray-800;
    }
    .text-secondary{
        color: $blue-800;
    }
    .text-hint{
        color: $gray-500;
    }

    .btn{
        &.btn-small{
            width: 30px;
            height: 30px;
            line-height: 30px;
            i{
                height:30px;
                line-height: 30px;
                font-size: 1.2rem;
            }
        }
    }
    .hover{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 2px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.40);
            transition: opacity 0.25s ease-in-out;
            pointer-events: none;
        }
        &:hover:after{
            opacity: 1;
        }
    }
    .row{
        &.dense{
            margin: 0;
            > .col{
                padding: 0;
            }
        }
    }
    .dropdown-content > li {
        &.disabled{
            cursor: default;
            &:hover{
                background-color: inherit;
            }
            i {
                opacity: 0.5;
            }
        }
        &.dropdown-title{
            cursor: default!important;
            >span {
                color: initial;
                pointer-events: none;
                color: $gray-500;
                background-color: #fff!important;
            }
        }
        &.dropdown-sub a{
            padding-left: 28px;
        }
        > a{
            color: $blue-800;
            white-space: nowrap;
            > i{
                font-size: 24px
            }
        }
        &:not(.disabled){
            > span{
                color: $blue-800;
            }
        }
    }

    /* toasts */
    @media only screen and (min-width: 601px) {
        #toast-container {
            top: 0;
            left: 5%;
            right: inherit;
            max-width: 86%;
        }
    }
    .chip{
        background-color: $blue-100;
    }
}

.cardtitle{
    color: $blue-800;
    text-transform: uppercase;
    font-size: 1.5em;
}

.card{
    a {
        color: $blue-800;
    }
    &.form{
        background-color: $blue-100;
        box-shadow: none;
        margin-top: .5em;
        >.card-content {
            padding: 0px;
        }
    }
    &.content{
        background-color: $white;
        box-shadow: none;
        margin-top: .5em;
        >.card-content {
            padding: 0px;
        }
    }
}


.SkE {
    // browser update notification style
    .buorg{
        border-bottom: 1px solid #a2933052;
    }
    #buorgul, #buorgig{
        border: none;
        border-radius: 2px;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 16px;
        text-transform: uppercase;
        vertical-align: middle;
        -webkit-tap-highlight-color: transparent;
        font: inherit;
        font-size: 16px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        margin: 0 5px;
    }
    #buorgul{
        background-color: $red-400;
        color: $white;
    }
}

@media only screen and (max-width: 700px){
    .SkE .card .card-content,
    .SkE .card-panel{
        padding: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .show-on-xlarge-only {
        display: none !important;
    }
}

.thead{
    display: table-header-group;
}
.tbody{
    display: table-row-group;
}
.tfoot{
    display: table-footer-group;
}
.tr{
    display: table-row;
}
.td,
.th{
    display: table-cell;
}

.table.material-table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    .th{
        border-bottom: 1px solid $blue-100;
        font-weight: bold;
    }
    .tbody{
        border: 1px solid $blue-100;
        background-color: $white;
    }

    .tr{
        &:not(:last-child) .td {
            border-bottom: 1px solid $blue-100;
        }
        .td{
            border-top: none;
            vertical-align: middle;
            padding: 12px 20px;
        }
        .th{
            padding: 12px 24px;
        }
    }
    &.highlight{
        .tbody{
            .tr{
                &:hover{
                    background-color: $blue-100;
                }
            }
        }
    }
}


._t {
    word-break: break-word;
}

// one rule with "body" to override actual corpus font settings
// (e.g. different language family corpus in parconcordance)

// english-like languages
.f-eng ._t,
body .f-eng ._t,
body .f-eng._t{
    font-size: 1em;
}
// dense languages - korean, japanese, chinese...
.f-cjk ._t,
body .f-cjk ._t,
body .f-cjk._t{
    font-size: 1.2em;
}
// tall languages - hindi, thai,...
.f-tall ._t,
body .f-tall ._t,
body .f-tall._t{
    font-size: 1.3em;
}

.SkE .dropdown-content li>a>i{
    // fix for wrong dropdown content width calculations
    vertical-align: middle;
    float: none;
}

span.badge{
    color: $white;
    &.small{
        font-weight: 300;
        font-size: 0.8rem;
        border-radius: 2px;
    }
    &.new.background-color-blue-100 {
        background-color: $blue-100;
        font-weight: bold;
        color: $blue-800;
    }
}
.teal-text {
    color: $blue-800 !important;
}

#hiddenGramrelList {
    margin-bottom: .75em;
    margin-top: .5rem;
    .chip {
        color: $blue-800;
        i{
            vertical-align: middle;
        }
    }
    >a{
        height: 32px;
        &:first-child i {
            line-height: 32px;
        }
    }
}
#mobileMenu {
    color: $blue-600;
}

@media screen {
    .noScreen{
        display: none;
    }
}


@media print {
    html {
        width: 20cm !important;
    }
    body {
        font: 9pt/1.5 Arial, sans-serif !important;
    }
    * {
        background-color: transparent !important;
        color: black !important;
        border-color: black !important;
        word-break: normal !important;
        margin-left: 0 !important;
        padding-left: 0;
    }
    wordsketch-contextmenu {
        display: none !important;
    }
    .column-table-wrapper {
        clear: both;
    }
    thead {
        display: table-row-group
    }
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    .col-tab-menu,
    feature-toolbar,
    nav,
    side-nav,
    header-corpus,
    ui-pagination,
    header-menu,
    #crystal_version,
    #mobileMenu,
    td.menuColumn,
    th.menuColumn,
    .menuIcon,
    .tro-dropdown,
    table-label .sort-arrow,
    table-label sup,
    .page-concordance .lineDetail,
    .page-parconcordance .lineDetail,
    .frequency-result .headerButtons,
    .frequencyOptions,
    .collocations-result .btn,
    thesaurus-ske-visualization .card-content,
    alt-lposlist .material-icons,
    sketchdiff-gramrel thead tr:first-child,
    sketchdiff-gramrel .ifmenu,
    sketchdiff-gramrel tfoot,
    sketchdiff-visualization .card,
    wordsketch-gramrel thead tr:first-child,
    wordsketch-gramrel .ifmenu,
    wordsketch-gramrel tfoot,
    wordsketch-result-options .wsro-dropdown,
    parconcordance-translations,
    .material-tooltip,
    .page-concordance .checkboxTh,
    .page-concordance .copyTh,
    .page-concordance .td_chb,
    .page-concordance .copyCell,
    .page-concordance .td.ref i,
    concordance-selected-lines-box,
    swap-corpora,
    keywords-result .tabs,
    .no-print {
        display: none !important;
    }
    .col-tab-col {
        width: initial !important;
        max-width: initial !important;
    }
    .col-tab-col table {
        width: 1px !important;
    }
    td {
        padding: 2px 2px !important;
    }
    .displaySen .rtlNode {
        white-space: normal !important;
    }
    span.attr {
        color: #AAA !important;
    }
    .progress .determinate{
        background-color: black!important;
    }

    breadcrumb-chip {
        border: 1px solid black;
        box-shadow: none!important;
        padding-left: 15px!important;
    }
    .frequency-result-block tbody .barColumn{
        border-right: 1px solid black;
    }
    .gramrel > .card {
        box-shadow: none;
    }
    .page-wordsketch {
        .horizTables {
            display: block !important;
            >div {
                display: block !important;
            }
        }
    }
    sketchdiff-gramrel tbody,
    wordsketch-gramrel > table > tbody{
        outline: 1px solid black;
    }
    gramrel-collocations > table > tbody > tr.colloc_row {
        line-height: 1.1rem !important;
    }
    sketchdiff-gramrel table thead,
    sketchdiff-gramrel table tr,
    sketchdiff-gramrel table td,
    sketchdiff-result-options span,
    wordsketch-gramrel thead{
        border: none !important;
    }
    gramrel-collocations tbody:first-child tr{
        border-top: none !important;
    }
    gramrel-collocations tbody:last-child tr{
        border-bottom: none !important;
    }
}
.annotmenu.dropdown-content li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.annotmenu.dropdown-content li > span,
.annotmenu.dropdown-content li > a {
    padding: 0 4px;
    font-size: 80%;
    font-weight: bold;
    color: black;
}
.annotmenu.dropdown-content li {
    min-height: auto;
    line-height: 1em;
}
.noselect {
    user-select: none;
    -moz-user-select: none;
}
.annot {
    background-color: $green-300;
}
.annotbox {
    cursor: pointer;
    padding: 2px 3px;
    font-size: 75%;
    font-weight: bold;
    outline: none;
}
.annotmenu {
    background-color: $green-300;
    color: black;
    padding: 2px;
    cursor: pointer;
    max-width: 300px;
}
// Workaround of Safari rounding issue
.tabs .tab a {
    margin-right: 1px;
}

.aboutLeftCol {
    @media #{$medium-and-up} {
        width: calc(100% - 400px);
        float: left;
    }
    @media #{$medium-and-down} {
        width: 100%;
    }
}
.aboutRightCol {
    @media #{$medium-and-up} {
        float: right;
        margin-bottom: 1rem;
    }
    @media #{$medium-and-down} {
        width: 100%;
        margin-bottom: 2rem;
    }
}
