@import 'app/styles/constants';

.wordlist-result-options{
    label{
        white-space: nowrap;
    }
    .totalItems{
        font-size: 0.8em;
        color: $new_mediumBlue;
        margin-right: 20px;
    }
    .ro-title{
        margin: 0;
    }
    .ro-chips{
        .chip{
            background-color: #f4f4f4;
        }
    }
    .headerSelect{
        margin-right: 20px;
        padding-right: 35px;
        .select-wrapper {
            .caret{
                right: -30px;
            }
            input.select-dropdown{
                font-size: 30px;
                padding-right: 25px;
                min-width: calc(100% + 35px);
                padding-bottom: 5px;
            }
        }
    }
    .wordlist-result-options-view{
        &>div{
            display: inline-block;
            padding: 0 .75rem;
            vertical-align: top;
        }
        .ui-radio label span:first-letter{
            text-transform: uppercase;
        }
    }
    .randomBtn{
        vertical-align: top;
    }
}
