@import 'wordlist';

.wordlist-tab-advanced{
    @include wordlistTabCommon();
    >div.card-content{
        .ui-radio label{
            white-space: nowrap;
        }
    }
    .collapsedBlacklist{
        .input-field{
            margin-top: 0px;
            textarea{
                min-height: 2px;
                height: 2px;
                margin-bottom: 0;
                padding: 0;
            }
        }
    }

    .rightColumn{
        margin-top: 20px;
        @media only screen and (min-width: 1200px){
            border-left: 1px solid rgb(206, 206, 206);
        }
    }
    .findList{
        // top border above first "findx" item
        li.findx{
            border-top: 1px solid #cecece;
        }
        li.findx~li.findx{
            border-top: none
        }
    }
}

.modal-content .wordlist-tab-advanced{
    padding: 0;
}
