@import 'app/styles/constants';

.wordlist-criteria{
    display: block;
    margin-top: -8px;
    .hasCriteria{
        margin-bottom: 10px;
    }
    .ui-list .input-field{
        margin-top: 0;
    }
    .closeList{
        position: absolute;
       /* right: -2.5px;
        top: -15px;*/
        right:0;
        top:0;
    }
    .chip{
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
    #btnAddCriterionSubmit {
        line-height: 36px;
        margin: 0 .75rem 0 0;
        font-size: 12px;
        padding: 0px 10px;
    }
    #btnAddCriterion i {
        background-color: $blue-200;
        color: $blue-800;
    }

    .insert-characters {
        display: block;
        label{
            pointer-events: none;
            display: block;
        }
    }
}
