@import 'app/styles/constants';

.wordlist-result-table{
    .ui-pagination{
        justify-self: flex-end;
    }

    .oneColumn{
        max-width: 600px;
        margin: auto;
    }

    .table{
        th{
            text-transform: capitalize;
        }
    }

    .menuColumn {
        width: 1%;
        i{
            color: $gray-600;
        }
    }
    .barsColumn{
        min-width: 70px;
    }
}
