@import 'app/styles/constants';

.wordlist-tabs .tabContent{
    position: relative;
}

@mixin wordlistTabCommon{
    >div.card-content{
        @media only screen and (max-width: 600px){
            max-width: 310px;
        }
        @media only screen and (min-width: 600px){
            .columnShow{
                white-space: nowrap;
                position: relative;
                top: 30px;
                color: $blue-800;
            }
        }
    }
}
