@import 'app/styles/constants';

.wordlist-result-options{
    label{
        white-space: nowrap;
    }
    .totalItems{
        font-size: 0.8em;
        margin-right: 20px;
        top: 5px;
        position: relative;
    }
    .ro-title{
        margin: 0;
        vertical-align: middle;
    }
    .wordlist-result-options-view{
        .ui-radio label span:first-letter{
            text-transform: uppercase;
        }
        .col{
            max-width: 350px;
        }
        .dividerRight{
            @media only screen and(max-width: 600px){
              border: none;
            }
        }
    }
    .randomBtn{
        i{
            color: $blue-800;
            vertical-align: bottom;
            font-size: 35px;
        }
    }
    .colFreqNum{
        @media #{$large-and-up}{
            margin-top: 1.4rem;
        }
    }
}
