@import 'app/styles/constants';

.text-type{
    .input-field {
        margin-top: 0;
        input[type=text]{
            margin-bottom: 10px;
            transition: margin-bottom 0;
        }
    }

    .card {
        .card-content{
            padding: 15px;
            .buttons{
                position: absolute;
                top: 0;
                right: 0;
                a:not(:last-child){
                    margin-right: -5px;
                }
            }
            .card-title{
                cursor: pointer;
                font-size: 20px;
                vertical-align: middle;
                margin-bottom: 0;
                display: flex;
                i{
                    width: 25px;
                    line-height: inherit;
                    margin-right: 10px;
                }
            }
            .btn-chip{
                margin-left: 8px;
                margin-top: 5px;
                cursor: pointer;
                width: auto;
                color: $white;
                background-color: $persianGreen;
                line-height: 22px;
                height: 22px;
                padding: 0 8px;
                border-radius: 12px;
            }
            .warningRE{
                position: absolute;
                top: 45%;
                transform: translateY(-50%);
                font-size: 20px;
                font-style: italic;
                color: $gray-500;
                text-align: center;
            }
            text-type-list{
                li{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        &.collapsed{
            cursor: pointer;
            &.hasSelection{
                .card-title{
                    font-weight: bold;
                }
            }
        }
        &.expanded{
            height: 427px;
            &.hasSelection{
                .input-field {
                    input[type=text]{
                        margin-bottom: 5px;
                    }
                }
                .card-title{
                    margin-bottom: -17px;
                    display: block;
                    transform: translateY(-15px);
                }
            }
        }
    }
    .level_1::before,
    .level_2::before{
        content: '└ ';
    }
    .level_1{
        padding-left: 40px!important;
    }
    .level_2{
        padding-left: 60px!important;
    }
    .useAsRegEx{
        font-style: italic;
        b{
            font-style: normal;
        }
    }
}
