.text-types{
    position: relative;
    display: block;
    .note{
        color: grey;
        padding-left: 13px;
    }
    .toggleExpand{
        position: absolute;
        right: -0.75rem;
        top: -30px;
        a{
            cursor: pointer;
            font-size: 14px;
            opacity: .5;
            margin-right: 15px;
            &:hover{
                opacity: 1
            }
        }
    }
    .fullScreen{
        position: fixed;
        top: 20px;
        left: 72px;
        right: 72px;
        bottom: 20px;
        z-index: 100;
        overflow-y: auto;

         @media only screen and(max-width: 600px){
            top: 65px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            .buttons{
                margin: -11px auto;
            }
            h5{
                margin-bottom: 0;
            }
            .ui-input{
                margin-bottom: 5px;
            }
            .ui-list{
                margin-bottom: 10px;
            }
        }
    }
}
