@import 'app/styles/constants';

.ca-add-content{
    .dataSource{
        padding: 50px 0;
        text-align: center;
        .cardBtn{
            min-width: 370px;
        }
    }
    .plainTextToggle{
        position: relative;
        top: 9px;
    }
    .plainText{
        background-color: $gray-100;
        textarea{
            height: 190px;
            min-height: 190px;
            background-color: transparent;
            border-top: none;
            border-right: none;
            border-left: none;
            border-image: initial;
            border-bottom: 1px solid $gray-500;
            border-radius: 0px;
            outline: none;
            font-size: 16px;
            margin: 0px 0px 8px;
            padding: 0px;
            box-shadow: none;
            box-sizing: content-box;
        }
    }
    .backTitle{
        a .title{
            cursor: pointer;
            color: $gray-800;
        }
    }
    .errorLabel::after{
        white-space: nowrap;
    }
}
