@import 'app/styles/constants';

.ca-browser{
    display: block;
    .card-panel{
        position: relative;
        min-height: 293px;
    }
    .btnsCol{
        width: 1%;
    }
    .btnIco{
        cursor: pointer;
        opacity: 0.3;
        &:hover{
            opacity: 0.8;
        }
    }

    .columnFiles{
        min-height: 230px;
        position: relative;
        .selectColumn{
            width: 1px;
            margin: 0;
            font-weight: normal;
            .btn{
                padding: 0;
                display: flex;
            }
            .ui-checkbox{
                margin: 0;
                padding-left: 0px;
                span{
                    padding-left: 20px;
                    height: 17px;
                    line-height: 17px;
                }
            }
        }
    }
    .filesetsNote{
        min-height: 24px;
        div {
            background-color: $blue-100;
            padding: 2px 5px;
        }
    }

    .filesetsTable{
        tbody{
            tr{
                height: 35px;
                cursor: pointer;
            }
        }
        .progress{
            margin: 0 0 5px 0;
        }
    }
    .fileFilterToggle > *{
        vertical-align: text-bottom;
    }
    .fileFilter{
        background-color: #e8e8e8;
        padding: 0 0 0 15px;
        margin-bottom: 10px;
    }
    .filesTable{
        margin-bottom: 20px;
        tr{
            height: 42px;
        }
        .fileProgress{
            float: right;
            & > * {
                display: inline-block;
                vertical-align: middle;
            }
            .progress{
                width: 60px;
            }
        }
        td.link{
            word-break: break-all;
        }
    }
    .table {
        thead{
            th{
                padding: 5px;
            }
        }
        tbody{
            tr{
                &.deleteInProgress{
                    opacity: 0.3;
                    pointer-events: none;
                    .dotsAnimation{
                        font-size: 20px;
                        position: relative;
                        top: -3px;
                        left: 4px;
                    }
                }
                &.fileDetails{
                    td{
                        padding: 0 30px;
                        position: relative;
                        i{
                            vertical-align: initial;
                        }
                    }
                }
                .filesetCell{
                    i{
                        &.folder{
                            margin-right: 10px;
                            float: left;
                        }
                        &.webcrawlInfo{

                        }
                    }
                    >span{
                        vertical-align: bottom;
                        cursor: pointer;
                    }
                    .filesetName{
                        display: block;
                    }
                }
                .progressCell{
                    padding: 0 5px;
                    text-align: right;
                    white-space: nowrap;
                    .progressTop{
                        white-space: nowrap;
                    }
                    & > *{
                        vertical-align: middle;
                        display: inline-block;
                    }
                }
                &.active{
                    td{
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                    .filesetCell{
                        @media screen and (max-width: 1200px) and (min-width: 962px) {
                            max-width: 17vw;
                        }
                         >span{
                            color: black;
                            font-weight: bold;
                        }
                    }
                }
                &.selectedRow{
                    td:first-child{
                        font-weight: bold;
                    }
                }
            }
            td{
                padding: 5px;
                &.btnCell{
                    padding: 0 5px;
                }
            }
            i{
                vertical-align: middle;
            }
        }
        .num{
            text-align: right;
        }
        td.num{
            color: $gray-500;
        }
    }
    .emptyFolder,
    .loadingFolder,
    .emptyCorpus{
        color: #a7a6a6;
        text-align: center;
        padding: 50px;
    }

    .emptyCorpus{
        font-size: 1em;
        i{
            display: block;
            font-size: 3em;
        }
    }

    .filePreview{
        color: grey;
        overflow: hidden;
        margin-left: 60px;
        div{
            overflow: auto;
            white-space: pre-wrap;
        }
    }

    .lineDetailText{
        margin-left: 60px;
        color: grey;
    }

    table-label{
        text-transform: capitalize;
    }

    .bulkBtns{
        margin: 5px 0 10px;
    }
    .docCountItem{
        padding: 10px 16px;
        color: grey;
        pointer-events: none;
        font-size: 13px;
    }
}
