@import 'app/styles/constants';

.ca-corpus-download-dialog{
    .downloadBtns{
        a{
            width: 210px;
            min-height: 170px;
        }
        .iconContainer{
            position: relative;
            display: inline-block;
            i{
                font-size: 60px;
            }
            span{
                font-size: 20px;
                position: absolute;
                top: 23px;
                left: 0;
                right: 0;
                text-align: center;
                color: $white;
            }
        }
    }
}
