.ca-web-bootcat{
    .inputTypeOptions{
        margin-top: 8px;
        .ui-textarea{
            textarea{
                margin-bottom: 0;
            }
        }
    }
    .ui-textarea, .ui-input, .ui-chips{
        width: 100%;
        display: inline-block;
    }
    .ui.ui-slider{
        margin-bottom: 0;
    }

    .seedsContainer {
        flex: 1;
        font-size: 0;
    }

    .seedsHint{
        white-space: normal;
    }

    .inlineHelp{
        position: relative;
        vertical-align: top;
        top: 15px;
    }

    .bootcat-settings{
        .row >span{
            max-width: 250px;
        }
    }

    .kwBtn{
        margin: 10px 0 20px 20px;
    }
}
