@import 'app/styles/constants';

.page-ca-create-alignment{
   .boxWrapper{
      margin-top: 50px;
      .cardBtn{
         width: 347px;
         max-width: 347px;
         .desc{
            min-height: 60px;
         }
         .note{
            color: $gray-500;
         }
      }
   }

}
