@import 'app/styles/constants';

.page-ca-compile-aligned{
    min-height: 40vh;
    position: relative;
    .columnWrapper{
        max-width: 800px;
        margin: auto;
        .row {
            margin-bottom: 20px;
            &>span{
                line-height: 40px;
            }
        }
    }
    .statusColumn{
        white-space: nowrap;
        color: gray;
        text-align: right;
        .status{
            text-align: center;
        }
    }
    .compiledBtns{
        .btn-flat i{
            color: $blue-800;
        }
    }
    .leaveNote{
        font-size: 14px;
        color: grey;
        margin-top: 15px;
    }
}
