@import 'app/styles/constants';

.lang-corp-list{
    li{
        line-height: initial;
        height: initial;
        position: relative;
        i.material-icons{
            margin-right: 15px;
        }
        .cLabel{
            padding-right: 20px;
        }
        .cAutonym{
            font-size: 14px;
            color: $gray-400;
        }
        @media only screen and (max-width: 750px){
            padding: 7px 15px  0px!important;
        }
    }
}
