.quickLinkColumn{
    display: inline-block;
    margin: 0 8px;
    label{
        display: block;
        margin-bottom: 15px;
        font-size: 1.2rem;
    }
    .btn{
        display: block;
        a {
            color: #fff!important;
        }
        &:hover{
            & > * {
                color: #fff;
            }
        }
    }
    .quickLink {
        margin-bottom: 15px;
        padding: 0;
        i{
            padding: 0 10px;
            opacity: 0.5;
            &:hover{
                opacity: 1;
            }
        }
    }
    a{
        white-space: nowrap;
    }
}
