@import 'app/styles/constants';

.frequency-result{
    display: block;
    .header{
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
    }
    .headerButtons{
        .btn{
            position: relative;
            top: 7px;
        }
        @media only screen and (max-width: 600px){
            display: block;
            margin-bottom: 10px;
            .btn{
                top: 0;
            }
        }
    }
    .relNA{
        opacity: 0.5;
        font-size: 12px;
        i{
            vertical-align: text-bottom;
            font-size: 19px;
        }
    }
    .raw-html{
        white-space: nowrap
    }
    .frequencyOptions{
        margin-top: 20px;
        background-color: #e4e4e4;
        .ui-checkbox{
            margin: 0 10px;
        }
    }
    .column-table {
        .table{
            width: 100%;
            min-width: 50vw;
            max-width: 1500px;
        }
        .material-table > tbody > tr > td{
            white-space: normal;
        }
        .col-tab-num{
            width: 1%;
            min-width: 20px;
        }
        .chboxColumn{
            width: 1%;
        }
        .barColumn{
            width: 40%;
        }
        .menuColumn{
            width: 40px;
        }
        i{
            color: $gray-600;
        }
    }
    .progress{
        width: 100%;
        min-width: 100px;
        display: inline-block;
        margin-bottom: 3px;
    }

    .ui-pagination{
        justify-content: flex-end;
    }
}
