@import 'app/styles/constants';

.frequency-result-block{
    display: inline-block;
    position: relative;
    margin-bottom: 15px;

    .totalItems{
        text-align: left;
        font-size: 0.8em;
    }

    .column-table{
        .container-fluid{
            >div{
                margin-bottom: 10px;
            }
        }
    }
}
