.frequency-tabs{
    .columns {
        display: flex;
    }
    .context-selector{
        @media (max-width: 750px){
            .narrowCtx{
                display: block;
            }
            .wideCtx{
                display: none
            }
        }
    }
    .baseSelect{
        display: none;
        @media (max-width: 750px){
            display: block;
        }
    }
}
