.script-jpan ._t{
    font-family: 'Noto Sans JP';
}

.script-kore ._t{
    font-family: 'Noto Sans KR';
}

.script-hant ._t{
    font-family: 'Noto Sans TC';
}

.script-hans ._t{
    font-family: 'Noto Sans SC';
}
