.settings-dialog{
    .content{
        .row{
            max-width: 600px;
        }
        .settingsSection{
            padding-left: 15px;
        }
    }
    .verticalLine{
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .menu{
        margin-top: 0;
        li{
            padding: 5px 10px;
        }
        a{
            text-transform: capitalize;
            cursor: pointer;
        }
        .active{
            a{
                font-weight: bold;
            }
        }
    }
}

.density-medium{
  .settings-dialog{
    .switch{
      margin: .8rem 0 8px 0;
    }
    .input-field{
      margin-top: .8rem;
    }
  }
}

.density-low{
  .settings-dialog{
    .switch{
      margin-top: 1.3rem;
    }
    .input-field{
      margin-top: 1rem;
    }
  }
}

.density-high{
  .settings-dialog{
    .switch{
      margin-top: .2rem;
    }
    .input-field{
      margin-top: .5rem;
    }
  }
}
