.subcorpus-chip{
    display: inline-block;
    max-height: 32px;
    vertical-align: bottom;
    .chip{
        margin-bottom: 0px;
        display: flex;
        .chipLabel{
            max-width: 150px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .dd_arrow{
        min-height: 32px;
        vertical-align: bottom;
        line-height: 32px;
    }
    .selected{
        font-weight: bold;
    }
}
