@import 'app/styles/constants';

.page-corpus{
    margin: auto;
    raw-html {
        display: flex;
    }
    raw-html > b {
        color: $red-400;
        text-decoration: underline;
    }
    .content{
        padding-bottom: 20px;
    }
    .langBtn{
        margin: 0 15px 10px 0;
        min-width: 189px;
    }
    .corpus-tab-basic{
        max-width: 1250px;
        margin: auto;
        .corpusLeftCol{
            max-width: 440px;
            @media screen and(min-width: 1405px){
                border-right: 1px solid $white;
                margin-right: 2em;
            }
        }
        .corpusRightCol{
            width: 100%;
            max-width: 660px;
        }
    }
    .controlBar{
        display: flex;
        flex-wrap: wrap;
        .fuzzy-input{
            order: 1;
            margin-right: auto;
            margin-bottom: 0;
        }
        .spaceLimit{
            order: 2;
            line-height: 32px;
        }
        .btnNewCorpus{
            order: 3;
            margin-left: 20px;
        }
        .input-field {
            margin-top: 0;
        }
        @media (max-width: 1150px) {
            .spaceLimit{
                order: -1;
                width: 100%;
                text-align: right;
            }
        }
    }
    .corpus-tab-advanced {
        tr.actual {
            opacity: 0.5 !important;
        }
        @media (max-width: 600px) {
            .advseltab {
                font-size: 80%;
                tbody > tr > td {
                    padding: 8px 8px;
                }
            }
        }
        @media (max-width: 530px) {
            .langcchip {
                display: none;
            }
        }
        .transparent .floatingDropdown .ui-input {
            opacity: 0.5;
        }
        .old-corpora-td {
            font-style: italic;
            cursor: pointer;
            text-align: center;
            i.material-icons {
                vertical-align: bottom;
            }
        }
        .plainField{
            input{
                background-color: initial;
                border-bottom: 1px solid $blue-800;
            }
        }
        #catDropdown-button {
            clear: both;
            max-width: 400px;
        }
        #catDropdown.dropdown-content {
            span {
                color: black;
                float: right;
            }
            li.disabled {
                cursor: default;
                opacity: 0.5;
            }
        }
        .tabs {
            height: auto;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            display: -webkit-flex;
            display: flex;
            .tab {
                width: 100%;
                cursor: pointer;
                text-align: left;
                &.disabled > a {
                    opacity: 0.4;
                }
                &.active {
                    background-color: #A7CADC;
                    color: $blue-800;
                    &:hover {
                        background-color: #A7CADC;
                    }
                }
                &:hover {
                    background-color: $blue-200;
                }
                >a {
                    border-bottom: none;
                    opacity: 1.0;
                    color: $blue-800;
                    font-size: 100%;
                    > i.material-icons {
                        font-size: 110%;
                        vertical-align: text-top;
                    }
                }
            }
        }
        [type="checkbox"]+label {
            margin-left: 1em;
        }
        table.material-table {
            .selcorp {
                cursor: pointer;
            }
            .notAvailable {
                opacity: 0.3;
            }
        }
        preloader-spinner {
            display: block;
            text-align: center;
            margin-top: 2em;
        }
        .llab {
            vertical-align: top;
            margin-left: 1em;
        }
        .chip > i.material-icons {
            font-size: inherit;
            vertical-align: middle;
            cursor: pointer;
        }
    }
    .corpus-tab-my{
        & > .tab-content{
            min-height: 40vh
        }
    }
    .corpus-tab-my, .corpus-tab-shared {
        .sizeTooltipIcon{
            font-size: 18px;
            vertical-align: text-bottom;
        }
        @media (max-width: 600px) {
            .tab-content{
                padding: 5px;
            }
            .table {
                font-size: 80%;
                thead > tr > th,
                tbody > tr > td{
                    padding: 8px 8px;
                }
            }
        }
        table td{
            cursor: pointer;
        }
    }
    .dropdown-content {
        overflow: hidden;
        li[data-item] {
            width: 2.5em;
            height: 2em;
            display: inline-block;
            color: $blue-800;
            text-align: center;
            &.disabled {
                cursor: default;
                color: $blue-200;
            }
            &.disabled:hover {
                color: $blue-200;
            }
            &:hover {
                background-color: transparent !important;
                color: $blue-700;
            }
            i {
                padding: .5em;
            }
        }
    }
    .shared{
        vertical-align: bottom;
        margin-right: 10px;
        opacity: 0.6;
        color: #004b68;
    }
}
@media only screen and (max-width: 1480px) {
    .hide-on-xxlarge-and-down {
        display: none !important
    }
}
@media only screen and (max-width: 1200px) {
    .hide-on-large-and-down {
        display:none !important
    }
}
@media only screen and (min-width: 1201px) {
    .hide-on-xlarge {
        display:none !important
    }
}
