@import 'app/styles/constants';

.context-selector{
    display: block;
    .pos{
        margin: 0 20px;
        font-family: Roboto Condensed, Roboto, sans-serif;
        font-size: 16px;
        background-color: $blue-200;
        color: $blue-800;
        box-shadow: none;
        &.squareBtn{
            padding: 1px 1rem;
            margin: 0 4px;
        }
        &:first-child{
            margin-left: 0!important;
        }
        &:last-child{
            margin-right: 0!important;
        }
        &.btn-flat:hover{
            color: $white;
            background-color: #5b8da4;
        }
        &.selected{
            background-color: $blue-800;
            color: $white;
        }
    }
    .kwicBtn{
        padding: 0 1rem;
    }
    .posWrapper{
        display: flex;
    }
    .wideCtx{
        display: inline-block;
    }
    .narrowCtx{
        display: none;
    }
}
