@import 'app/styles/constants';

.background-jobs {
    .card-panel{
        background-color: $gray-100;
        position: relative;
    }
    table{
        tbody{
            transition: background-color .25s ease;
            &:nth-child(odd){
                background-color: rgba(242, 242, 242, 0.5);
            }
            &:hover{
                background-color: $blue-100;
            }
            tr:not(:last-child) td{
                padding-bottom: 0;
            }
            .feature{
                font-weight: bold;
                &::after{
                    content: " | "
                }
            }
            .featureOptions{
                font-size: 14px;
                padding-top: 0;
                color: $gray-400;
                padding-left: 30px;
            }
        }
        tr :nth-child(3),
        tr :nth-child(4),
        tr :nth-child(5),
        tr :nth-child(6),
        tr :nth-child(7){
            text-align: right;
        }
        tr.inactive {
            opacity: 0.4;
        }
        tr th {
            padding: .1em .5em;
        }
        a.btn {
            padding: .4rem .8rem;
            height: 2.3rem;
            line-height: 1.65rem;
        }
    }
    .status{
        display: inline-block;
        padding: 0 6px;
    }
    .status_R,
    .status_D {
        color: $white;
        background-color: $green-500;
    }
    .status_T{
        color: $white;
        background-color: $red-200;
    }
    .empty{
        opacity: 0.4;
        text-align: center;
        padding: 50px;
        i{
            font-size: 3em;
            display:block;
        }
    }
    .jobDetail{
        vertical-align: middle;
    }
}
