@import 'app/styles/constants';

.page-parconcordance {
    position: relative;
    .tabContent > div{
        position: relative;
    }
    .hasAttributes .td:not(.noKWIC) .kwicWrapper,
    .hasContextAttributes .td:not(.noKWIC){
        .itm{
            display: inline-flex;
            flex-direction: column;
            &::after{
                content: attr(attr);
                font-weight: normal;
                font-size: 12px;
                color: #afafaf;
                display: block;
                margin-top: -5px;
                text-align: center;
                padding: 0 2px;
                top: 20px;
            }
        }
    }
    .hasAttributes{
        .tr .td:not(.noKWIC):hover{
            .itm::after{
                color: grey;
            }
            /* hack to show kwic underline on hover but not on kwic attribute. Style "text-decoration"
            is applied on pseudo elements ::after,::before, unless they are positioned absolute*/
            .kwicWrapper .itm{
                &::after{
                    /* to make span.itm wider, if needed (if attributes are wider than kwic) */
                    visibility: hidden;
                }
                &::before{
                    content: attr(attr);
                    font-weight: normal;
                    font-size: 12px;
                    color: #afafaf;
                    display: block;
                    text-align: center;
                    padding: 0 2px;
                    top: 19px;
                    left: 0;
                    right: 0;
                    position: absolute;
                }
            }
        }
    }
    .viewKwic{
        parconcordance-result-items{
            position: absolute;
            white-space: nowrap;
        }
    }
    parconcordance-result-items{
        display: inline;
    }
    .bar {
        >ul>li>div>.ui-select{
            margin-top: -6px;
            .select-dropdown {
                margin-bottom: 0;
            }
        }
    }
    .concordance-filter-form {
        .resetOptions {
            float: right;
        }
    }

    concordance-quick-filters{
        display: none!important;
    }

    .parconcordance-result-options-part{
        display: block;
        min-width: 400px;
        .ui-collapsible{
            display: none;
            &:last-child{
                display: block;
            }
        }
        .feature-toolbar{
            >.bar{
                ul{
                    white-space: nowrap;
                }
            }
        }
    }

    .parconcordance-result-options-sort {
        .btn-smalltext {
            font-size: .75em;
            padding: 5px;
            line-height: 20px;
            height: 27px;
            margin-bottom: 2em;
        }
    }
    .parconcordance-result-options-sort,
    .parconcordance-result-options-view,
    .parconcordance-result-options-sample,
    .parconcordance-result-options-shuffle,
    .parconcordance-result-options-filter,
    .parconcordance-result-options-gdex,
    .parconcordance-result-options-collocations {
        display: table;
        margin: 0 auto;
    }
    .collocations-tab-advanced{
        .collocations-form{
            display: block;
        }
        .colFuncs{
            border-left: none;
            padding-left: 0;
        }
    }
    .nothingFound,
    .error {
      padding-top: 50px;
      min-height: 220px;
    }
    .errorDetails {
      text-align: left;
      margin-top: 20px;
      padding: 20px 0;
    }
    .b-link {
        color: inherit;
    }
    .row {
        .col {
            margin-bottom: 30px;
            &.posrel {
                position: relative;
                &:not(.sortable-chosen){
                    border: solid 1px #AAA;
                    border-width: 0 0 0 1px;
                }
                &.sortable-drag{
                    background-color: $gray-100;
                }
                .langButtons {
                    position: absolute;
                    right: 1rem;
                    z-index: 500;
                }
            }
            @media only screen and (max-width: 600px){
                padding: 0 0 30px 0;
                &.posrel{
                    border-width: 0;
                }
                &:not(:last-child){
                    border-bottom: 1px solid #AAA;
                }
            }
            &.l3 {
                max-width: 25em;
            }
        }
        &.inner {
            margin-bottom: .2em;
            font-size: 90%;
        }
    }
    tbody {
        i.material.icons {
            vertical-align: bottom;
        }
    }
    .material-icons {
        cursor: pointer;
    }
    .alright {
        text-align: right;
    }
    .toggleCluster {
        cursor: pointer;
    }
    h4 .chip {
        line-height: 20px;
        border-radius: 10px;
        height: 20px;
        font-size: 12px;
        padding: 0 8px;
        position: relative;
    }
    .parconcordance-result-info {
        .chip {
            background-color: rgba(90, 90, 90, 0.1);
        }
    }
    ul.cluster {
        margin: 0 0 0 1em;
        span.small {
            font-size: 90%;
        }
    }
    td.num {
        font-size: 90%;
    }
    td.col-tab-menu {
        width: 1%
    }
    .parconcordance-result{
        display: block;
        .kwicsen {
            .chip {
                display: inline-flex;
                vertical-align: middle;
                align-items: center;
                margin-top: 4px;
                color: $blue-800;
                box-sizing: content-box;
                &:focus {
                    background-color: $blue-200;
                }
            }
            >a {
                font-size: 16px;
                i {
                    width: 18px;
                }
            }
        }
        .table.result-table{
            margin-bottom: 15px;
            .th,
            .td{
                padding: 5px 10px;
                vertical-align: top;
                overflow: hidden;
                position: relative;
                &.ctd{
                    min-width: 30vw;
                }
                &.noKWIC{
                    .subtdc{
                        position: absolute;
                    }
                    .itm{
                        color: initial;
                        font-weight: normal;
                    }
                }
            }
            .th{
                white-space: nowrap;
                font-weight: normal;
            }
            .subtdc, .subtdl, .subtdr {
                display: table-cell;
                position: relative;
                overflow: hidden;
            }
            .subtdl {
                parconcordance-result-items {
                    right: 0;
                }
            }
            .subtdr {
                parconcordance-result-items {
                    left: 0;
                }
            }
            .subtdc {
                white-space: normal;
            }
            .partmenu {
                padding: 0px;
            }
            .gdexth{
                vertical-align: middle;
            }
            .tr.highlight {
                background-color: #ddf0f7;
            }
            .num{
                font-size: 12px;
                vertical-align: middle;
            }
            .ref{
                position: relative;
                cursor: pointer;
                vertical-align: middle;
                span{
                    display: flex;
                    overflow: hidden;
                    color: $gray-600;
                    i{
                        display: inline-block;
                        font-size: 21px;
                        vertical-align: middle;
                    }
                }
                .ref-label{
                    display: inline-block;
                    white-space: nowrap;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .itm{
            padding: 0 2px;
            position: relative;
            &.coll,
            &.kwic{
                color: $red-200;
                font-weight: bold;
            }
        }
        .td:not(.noKWIC) .itm{
            text-align: center;
        }
        .strc{
            color: blue;
        }
        .middle{
            white-space: nowrap;
            vertical-align: top;
        }
        .kwicWrapper{
            cursor: pointer;
            position: relative!important;
            .itm{
                color: $red-200;
                font-weight: bold;
            }
        }
        .kwic{
            font-weight: bold;
            color: $red-400;
        }
        .latentkwic{
            margin-left: 0.15em;
            margin-right: 0.15em;
        }
        .hl {
            background-color: #FF9!important;
        }
        @media only screen and (max-width: 700px){
            margin-left: -5px;
            margin-right: -5px;
            .table.result-table{
                .th,
                .td{
                    padding: 4px 2px;
                }
            }
        }
        .refsUpRow{
            .td{
                position: relative;
                border-bottom: 0!important;
                font-size: 90%;
                color: #AAA;
                padding: 0px 10px;
                height: 22px;
            }
        }
        .refsUp{
            position: absolute;
            top: 0;
            white-space: nowrap;
            max-width: calc(100vw - 170px);
            min-width: calc(100vw - 170px);
            overflow: hidden;
            text-overflow: ellipsis;
            .refsUpValues{
                color: #898989;
                font-size: 0.8em;
            }
        }
        .alcorpname {
            position: absolute;
            top: .7rem;
            right: .7rem;
            font-size: 80%;
            margin-right: 2rem;
        }
        .parconcordance-result-options-view {
            .columns {
                display: flex;
                flex-wrap: wrap;
                >div{
                    vertical-align: top;
                    &:not(:last-child){
                        margin-right: 30px;
                        padding-right: 30px;
                        border-right: 1px solid #cecece;
                        @media only screen and (max-width: 800px){
                            border-right: none;
                        }
                    }
                }
            }
            .order {
                font-size: 14px;
                opacity: 0.8;
            }
        }
        a.lineDetail{
            opacity: 0.5;
            height: 21px;
            width: 21px;
            line-height: 21px;
            margin-right: 10px;
            &:hover{
                opacity: 1
            }
            i{
                height: 21px;
                width: 21px;
                line-height: 21px;
                font-size: 21px;
            }
        }
        &.directionRTL{
            .rtlNode{
                direction: rtl;
            }
        }
    }
    .parconcordance-tab-advanced {
        position: relative;

        .notopmarg {
            margin-top: 0;
            width: 6em;
        }
        subcorpus-select > div{
            max-width: 500px;
        }
    }
    .input-field label {
        white-space: nowrap;
    }
    .frequency-result {
        .pcfreq-result-block {
            display: block;
            .frq-th {
                padding-right: 0;
            }
            .col-tab-num {
                font-size: 0.8em;
                opacity: 0.3;
                white-space: nowrap;
            }
            .tab-num {
                text-align: right;
            }
            .frequency-block {
                width: auto;
                margin-bottom: 0.4em;
                margin-top: 20px;
                thead{
                    background-color: $blue-100;
                }
                > tbody > tr > td {
                    padding: 0px 15px;
                }
            }
            .freq-block-div {
                margin-bottom: 2em;
            }
            .progress {
                min-width: 200px;
                margin: 0;
            }
        }
        .fixed-center {
            position: fixed;
            width: 100%;
        }
    }
    .parconcordance-result-options-freq{
        .card-content{
            i.close{
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }
    }
    .gdex .badge{
        margin-left: 0px;
        background-color: $gray-500;
    }
}

.parconcordance-translations > span{
    font-size: 12px;
    opacity: 0.6;
    line-height: 34px;
    vertical-align: top;
    display:inline-block;
}

.parconcordance-result-options-view{
    label.label{
      font-size: 1.1rem;
    }
    .ui-input .input-field input{
      font-size: 1rem;
    }
    .ui-list{
      font-size: 1rem;
    }
    .detailsBtn{
      margin-bottom: 1rem;
    }
}
