@import 'app/styles/constants';

.interfeature-menu-macro-dialog{
    > div{
        &:nth-child(2n){
            background-color: $gray-100;
        }
        &:hover{
            background-color: $blue-100;
        }
    }
    .newTabLink {
        top: 5px;
        right: 5px;
    }
}
