@font-face {
  font-family: 'skeicons';
  src:
    url('fonts/skeicons.ttf?5ei2mw') format('truetype'),
    url('fonts/skeicons.woff?5ei2mw') format('woff'),
    url('fonts/skeicons.svg?5ei2mw#skeicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ske-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'skeicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.skeFlipHoriz{
  transform: scale(1, -1);
}
.skeFlipVert{
  transform: scale(-1, 1);
}

.skeStack{
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.skeStacked{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
