@import 'app/styles/constants';

.favourite-toggle{
    a{
        vertical-align: top;
        i{
            color: $gray-600;
        }
        &.disabled{
            opacity: 0.3;
        }
    }

    .favourite i{
        color: $yellow!important;
    }
}
