.favourite-toggle{
    a{
        vertical-align: top;
        i{
            color: #757575;
        }
        &.disabled{
            opacity: 0.3;
        }
    }

    .favourite i{
        color: #f8cd13!important;
    }
}
