.query-types{
    display: block;
    .flexContainer{
        display: flex;
        flex-wrap: wrap;
        @media only screen and (max-width: 700px){
            display: block;
        }
    }
    .filterCol{
        flex: 1;
        min-width: 250px;
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;
        min-width: 250px;

        .ui-input.bigInput{
            max-width: 16em;
        }
    }

    .cqlYoutube{
        flex: 1;
        max-width: 700px;
        min-width: 300px;
        margin-bottom: 15px;
        @media only screen and (max-width: 700px){
            display: block;
            margin-left: 0;
            padding-left: 0;
        }
        .cqlYoutubeLink,
        .cqlManual{
            margin-top: 10px;
            text-align: right;
            i{
                font-size: 19px;
                vertical-align: middle;
            }
            @media only screen and (max-width: 916px){
                text-align: left;
            }
        }
    }
}
