.lazy-dialog{
    vertical-align: text-bottom;
    display: inline-block;
    line-height: 0.8em;
    width: 1em;
    margin: 0;
    i.material-icons.material-clickable{ // stronger rule to override ui- styles
        color: #004B69;
        font-size: 19px;
        width: 1em;
    }
}

.lazy-dialog-dialog{
    .modal-content{
        min-height: 150px;
        p{
            margin: 0.5em 0;
        }
    }
    table{
        border: 1px solid #CFECF4;
        background-color: #f7f7f7;
        thead{
            background-color: #CFECF4;
        }
        th, td{
            padding: 5px
        }
    }
}
